<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' type='text/css' href='main.css' />
	<title>VueJS Course</title>
</head>

<body>
	<div id='app' v-cloak>
		<p>{{ fullName() }}</p>
		<hr />

		<label>First Name:</label>
		<input type="text" v-model="firstName" />

		<label>Last Name:</label>
		<input type="text" v-model="lastName" />

		
	</div>






	<!-- <div id='app2'> -->
		<!-- {{ const x = 5 }} you cant perform declaration and conditional logic -->
		<!-- {{ firstName }} 
		{{ lastName }}
	</div> -->

	<!-- <div id='app3'>
		<button @click="count++">
			Count is : {{ count }}
		</button>
	</div> -->



	<script src="https://unpkg.com/vue@3"></script>
	<script src='app.js'></script>
</body>
</html>